<div class="tables">
  <table>
    <thead>
    <tr>
      <th>Klient </th>
      <th>Produkt</th>
      <th>Ilość (kg/szt)</th>
      <th>Waga (kg)</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let table of tables$ | async">
      <!-- Wiersz nagłówka dla tabeli -->
      <tr>
        <td  class="table-name-header">{{ table?.name }}</td>
      </tr>
      <!-- Sprawdź, czy table.products istnieje i jest tablicą -->
      <tr *ngFor="let product of table.products">
        <td class="empty-cell"></td> <!-- Pusta komórka zamiast nazwy tabeli -->
        <td class="product-cell">{{ product.product }}</td>
        <td class="small-cell">{{ product.quantity }}</td>
        <td class="small-cell">{{ product.weight }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>
</div>
