<div class="tables">
  <table>
    <div class="table">
    <thead>
    <tr>
      <th>Klient </th>
      <th>Produkt</th>
      <th>Ilość (kg/szt)</th>
      <th>Waga (kg)</th>
    </tr>
    </thead>

    <ng-container   *ngFor="let table of tables$ | async">
      <tbody>
      <tr>
        <td  class="table-name-header">{{ table?.name }}</td>
      </tr>
      <!-- Sprawdź, czy table.products istnieje i jest tablicą -->
      <tr *ngFor="let product of table.products">
        <td>{{product.position}}</td> <!-- Pusta komórka zamiast nazwy tabeli -->
        <td class="product-cell">{{ product.product }}</td>
        <td class="small-cell">{{ product.quantity }}</td>
        <td class="small-cell">{{ product.weight }}</td>
      </tr>
      </tbody>
    </ng-container>

    </div>
  </table>
</div>
